img{
    height: 100px;
    width: 250px;
}

header{
 width: 100%;
 height: 80px;
 background-color: black;

}
.container{
    
 height:calc(100vh - 180px);
   
    

}

footer{
    height: 100px;
    background-color: gray;
    width: 100%;
}